body {
    background-color: lightgreen;
    margin: 0;
}

header {
    background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    color: blue;
}

header > img {
    width: 10%;
}

#tasti {
    width: 100%;
}

#tasti > nav {
    font-size: xx-large;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*#tasti a {
}
*/

#slider {
    margin: 100px auto;
    width: 90%;
    border: 5px solid red;
    padding-left: 0px;
    display: flex;
    overflow-x: auto;

    -ms-overflow-style: none;  /* IE and Edge */
}

#slider::-webkit-scrollbar {
    display: none; /*no scrollbar chrome*/
}

.gruppo {
    display: flex;
    align-items: center;
    gap: 1em;
    animation: gira 5s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: lightseagreen;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes gira {
    from {translate: 0;}
    to {translate: -100%;}
}

/* Solo Firefox esegue questo, Chrome lo ignora */
@supports (-moz-appearance: none) {
    .gruppo {
        animation: none; /* disabilita animazione su Firefox */
    }
    
    /* Oppure nascondi il secondo gruppo su Firefox */
    .gruppo:last-child {
        display: none;
    }
}

#titolosottotitolo {
    text-align: center;
}


#sezione-orizzontale {
    display: flex;
    gap: 15px;  /* spazio tra le colonne - regola questo valore */
    padding: 20px;
    background-color: #e8e0d0;
    min-height: 250px;
}
  
.colonna {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;  /* opzionale: angoli arrotondati */
    padding: 30px 20px;
    text-align: center;
    /*font-family: Arial, sans-serif;*/
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);  ombra leggera */
}

#programma {
    height: 100px;
    background-color: lightpink;
}

footer {
    background-color: brown;
    width: 100%;
}